<%- include('header') %>

    <style>
        body {
            margin-top: 20px;
            color: #f8f8f8;
            text-align: left;
            background-color: #05121B;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            color: #e2e8f0;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #05121B;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            color: #e2e8f0;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col,
        .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;

        }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #05121B;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }

        .profileInput {
            color: #ffffff;
            height: 30px;
            width: 200px;
            background-color: #05121B;
            border: none;
            border-bottom: 1px solid #e2e8f0;
        }
        .profile-btn{
            background-color: #05121B;
            color: #ffffff;
            border: 2px solid #f8f8f8;
          
            
            
        }
        .profile-btn:hover{
            background-color: #e2e8f0;
            color: #05121B;
            border: #e2e8f0;
            
        }
    </style>

    <div class="container"  style="height: 540px;">
        <div class="main-body">
            <h4 style="font-size: 30px; font-weight: 600;">Change Password</h4>

       
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                
                <div class="card-body">
                  <form action="/changePasswordData" method="post">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Current password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="profileInput" type="text" name="currentPassword" >
                        </div>
                    </div>
                    <% if(passwordError){ %>
                        <span style="color: red;">Invalid password</span>
                        <% } %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">New password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="profileInput" type="text" name="newPassword" >
                        </div>
                    </div>
                    <hr>
                  
               
                  
                    
                    <div class="row">
                        <div class="col-sm-12">
                          <button class="btn btn-info profile-btn" type="submit" > Save</button>
                        </div>
                    </div>
                 </form>
                </div>
            </div>





        </div>
    </div>

    </div>
    </div>




    <%- include('footer') %>