<%- include('header') %>
<div class="container">
    <h2 style="text-align:center; margin-bottom:30px;margin-top:50px;font-weight:700">Community

    </h2>
    <hr class="featurette-divider">
    <div class="row featurette ">
      <div class="col-md-7 ">
        <h3 class="featurette-heading " style="font-size: 30px;">Join Our Gaming Community</h3>
        <p style="margin-top: 13px;" class="lead  ">Welcome to the heart of Pixels's vibrant gaming community! Here, we celebrate the love for gaming and provide a space for gamers from all walks of life to come together, share experiences, and connect over their passion for games.</p>
      </div>
      <div class="col-md-5" style="display: flex;align-items:center;">
        <a href="https://www.reddit.com/r/GameDeals/" style="position:absolute;right:20%;font-size:20px;color: #ffffff;">Join Community<i class="fa-solid fa-arrow-right" style="color: #ffffff;margin-left:10px"></i></a>
        <!-- <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b4.jpg"
          alt="" width="500" height="500"> -->

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="font-size: 30px;">Why Join Our Community </h2>
        <p style="margin-top: 15px;" class="lead">At pixel games, we believe that gaming is more enjoyable when shared with others. Our community is a supportive and inclusive space where gamers of all levels and interests can come together, learn from each other, and forge lasting connections.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b1.jpg"
          alt="" width="500" height="500">

        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-size: 30px;">Connect With Us </h2>
        <p style="margin-top: 15px;" class="lead">Stay updated on the latest community events, news, and discussions by following us on our social media channels. Join us on discord to connect with fellow gamers and be part of the excitement!</p>
      </div>
      <div class="col-md-5" style="display: flex;align-items:center;">
        <a href="" style="position:absolute;right:20%;font-size:20px;color: #ffffff;">Contact us<i class="fa-solid fa-arrow-right" style="color: #ffffff;margin-left:10px"></i></a>
        <!-- <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/b4.jpg"
          alt="" width="500" height="500"> -->

      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  <!-- Featured Section End -->


  <%- include('footer') %>